.form__submit-button {
    border: 0;
    max-width: 358px;
    height: 50px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    outline: none;
    margin-top: 18px;
}

.form__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 600px) {
    .form__submit-button {
        max-width: 238px;
        height: 46px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}