.form__input {
    display: block;
    border: 0;
    max-width: 358px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
    color: #000;
    outline: 0;
    padding-bottom: 13px;
}

@media (max-width: 600px) {
    .form__input {
        max-width: 238px;
        margin-bottom: 30px;
    }
}

.form__input::placeholder {
    color: #C4C4C4;
}
